---


type Char = {
  isAlive: boolean;
  message: string;
  name: string;
  family: string;
  age: number;
  reignYears: number;
  category: string;
  weapon?: string;
  skillLevel?: number;
  adviseTo?: Char;
  serveLevel?: number;
  servesTo?: Char;
};

type Props = {
    character: Char
}
const {character: {category, reignYears, family,age,adviseTo,serveLevel, weapon, skillLevel}} = Astro.props
---




<ul class="list-unstyled">
    {
        category === 'king' && 
        <li>Años de reinado: {reignYears}</li>
    }
    {
        category === 'fighter' &&
        <li>Arma: {weapon}</li>
        <li>Destreza: {skillLevel}</li> 
    }
    {
        category ===  'adviser' && 
        <li>Asesora a: {adviseTo?.name}</li>

    }
    {
        category ===  'squire' &&
        <li>Peloteo: X</li>
    
        <li>Sirve a: X</li>
    }
    
    
    
</ul>